*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*flexbox*/

.container-flex {
    flex-direction: row; /*row/column*/
    border: 1px solid red;
    display: flex;
    background-color: beige;
    justify-content:flex-start; /*alinea el contenido (flex-start (izq), center, flex-end(der))*/
    /*height:400px;*/
    WIDTH:50%;
}
.container-item {
    width:100px;
    height:50px;
    border:2px solid yellow;
    background-color: aqua;
}

/*media query: me sirve para cambiar los estilos cuando cambia la resolucion*/
@media screen and (max-width:600px) {
    section {
        flex-direction: column;
    }
    .content-text {
        text-align: center;
    }
}

section {
    height: 650px;
    display:flex;
    padding:10px;
    align-items: center;
    justify-content: center;
}

section img {
    margin: 15px;
    width: 50%;
}

/*estilos para las section*/

main section:first-child {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

main section:last-child {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

:nth-child(2)
main section:nth-child(2) {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
/*
section:nth-child(odd) {
    background-color: rgb(255, 204, 0);
    /*odd: impares
}
section:nth-child(even) {
    background-color: rgb(0, 255, 4);
    /*even:par
}

/*html*/
html {
    scroll-behavior: smooth;
}

/*menu*/
.menucontainer {
    background-color: #a18cd1;
    display:flex;
    padding:20px;
    justify-content:space-between;
    height:50px;

    /*para que el menu se desplace hacia abajo hasta donde acaba el header
    esta propiedad funciona con cualquier elemento padre como el header o una
    caja que contenga elementos hermanos, uno mayor que el otro*/
    position:sticky;
    top:0;
    /*para que sea fijo toda la pagina position:fixed* width:100%;*/ 
}

.menucontainer ul li {
    display:inline-block;
}

.menucontainer a {
    display:block;
    text-decoration: none;
}

.menucontainer a:hover {
    color:white;
    font-size:1.2em;
}

header {
    height: 650px;
}
header img {
    height:600px;
    width:100%;
    
}

.content-text p {
    margin-top:5px;
    margin-bottom: 5px;
}

.content-text a {
    display:inline-block;
    width:100px;
    height:40px;
    border:2px solid rgb(207, 207, 207);
    border-radius:20px;
    background-color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.1em;
    padding:7px;
    margin:5px;
    color:rgb(156, 151, 151);
    text-align: center;
 
}